<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--Tehdään Angularin template-driven form. (ngSubmit) 
  bindataan koodin onSubmit() -metodiin-->

    <div class="container-fluid">
      <div style="margin-top: 20px; margin-bottom: 20px">
        Ilmoittautumislomake
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f.value); navigateToList()">
        <div class="form-group">
          <label for="nimi">Nimi:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
          />
          <label style="margin-top: 10px" for="email">Email:</label>
          <input
            type="text"
            class="form-control"
            name="email"
            ngModel
            required
          />
          <label style="margin-top: 10px" for="food">Ruokavalinta:</label>
          <select class="form-control" name="food" ngModel>
            <option>Kala</option>
            <option>Liha</option>
            <option>Kasvis</option>
          </select>

          <div class="checkbox" style="margin-top: 20px">
            <label
              ><input type="checkbox" name="sauna" ngModel />Osallistun
              saunailtaan</label
            >
          </div>
          <button type="submit" class="btn btn-outline-secondary">
            Lähetä
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
