<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--Tehdään Angularin template-driven form. (ngSubmit) 
  bindataan koodin onSubmit() -metodiin-->

    <div class="container-fluid">
      <div style="margin-top: 20px; margin-bottom: 20px">
        <h1>Ilmoittautumislomake</h1>
        <form
          #f="ngForm"
          (ngSubmit)="onSubmit(f.value); navigateToList()"
          novalidate
        >
          <div class="form-group">
            <label for="nimi">Nimi:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              ngModel
              [ngModel]="f.name"
              required
              #name="ngModel"
            />
            <label style="margin-top: 10px" for="email">Email:</label>
            <input
              type="text"
              class="form-control"
              name="email"
              ngModel
              [ngModel]="f.name"
              required
              #email="ngModel"
            />
            <label style="margin-top: 10px" for="food">Ruokavalinta:</label>
            <select
              class="form-control"
              name="food"
              ngModel
              #food="ngModel"
              [ngModel]="f.name"
            >
              <option>Kala</option>
              <option>Liha</option>
              <option>Kasvis</option>
            </select>

            <div class="checkbox" style="margin-top: 20px">
              <label
                ><input
                  type="checkbox"
                  name="sauna"
                  ngModel
                  #sauna="ngModel"
                  [ngModel]="f.name"
                />Osallistun saunailtaan</label
              >
            </div>
            <button type="submit" class="btn btn-outline-secondary">
              Lähetä
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
