<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Asiakkaat</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let customer of customers; let i = index"
        [class.active]="i == currentIndex"
        (click)="setCurrentCustomer(customer, i)"
      ></li>
    </ul>

    <button class="m-4 btn btn-sm btn-danger" (click)="deleteAllCustomers()">
      Delete All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentCustomer">
      <h4>Asiakas</h4>
      <div>
        <label><strong>Nimi:</strong></label>
      </div>
      <div>
        <label><strong>Osoite:</strong></label>
      </div>
      <div>
        <label><strong>Email:</strong></label>
      </div>
      <div>
        <label><strong>Info:</strong></label>
      </div>
      <div>
        <label><strong>Status:</strong></label>
      </div>

      <a class="badge badge-warning" routerLink="/customers/"> Edit </a>
    </div>

    <div *ngIf="!currentCustomer">
      <br />
      <p>Please click on a customer</p>
    </div>
  </div>
</div>
